:root {
   --white-color: #ffffff;
   --black-color: #000000;
   --gray-hard-color: #222222;
   --gray-light-color: #959595;
   --gray-medium-color: #999999;
   --red: #ff2d55;
   --blue: #5856d6;
   --purple: #af52de;
}
