:root {
  --white-color: #ffffff;
  --black-color: #000000;
  --gray-hard-color: #1a1a1a;
  --gray-light-color: #959595;
  --gray-medium-color: #999999;
  --red-color: #ff2d55;
  --blue-color: #5856d6;
  --purple-color: #af52de;
  --scrollbar-color: #131313;
  --card-color: #0b0b0b;
  --button-default-color: #1d1d1d;
  --button-hover-color: #292929;
  --button-active-color: #393939;
  --problem-tag-color: #ff3b30;
  --solution-tag-color: #34c759;
  --line-color: #434343;
}
